{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  org.clojure/core.async {:mvn/version "1.6.681"}

  ;; Result types, rescue/guard, lifecycle protocol
  io.github.hive-agi/hive-dsl {:mvn/version "0.5.9"}

  ;; Logging
  com.taoensso/timbre {:mvn/version "6.8.0"}
  metosin/malli {:mvn/version "0.20.1"}
  org.typedclojure/typed.clj.runtime {:mvn/version "1.4.0"}}

 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps
   {io.github.hive-agi/hive-dsl {:mvn/version "0.5.9"}
    io.github.hive-agi/hive-test {:mvn/version "0.3.10"}
    lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {io.github.hive-agi/hive-test {:mvn/version "0.3.10"}
    lambdaisland/kaocha {:mvn/version "1.91.1392"}
    io.github.hive-agi/hive-schemas {:mvn/version "0.1.11"}}
   :main-opts ["-m" "kaocha.runner"]}

  ;; Clojars publishing (see ../hive-build). version = the repo's VERSION file.
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.9"}
          slipset/deps-deploy {:mvn/version "0.2.2"}}
   :ns-default build}
  :typed {:extra-paths ["dev-typed"]
          :extra-deps {org.typedclojure/typed.clj.checker {:mvn/version "1.4.0"}}}}}
