{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  org.clojure/core.async {:mvn/version "1.6.681"}

  ;; Result types, rescue/guard, lifecycle protocol
  io.github.hive-agi/hive-dsl
  {:git/tag "v0.3.8" :git/sha "6f44e1bf82251b688d211f479a11a9a5ae93c1ad"}

  ;; Logging
  com.taoensso/timbre {:mvn/version "6.8.0"}}

 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps
   {io.github.hive-agi/hive-dsl {:local/root "../hive-dsl"}
    io.github.hive-agi/hive-test {:local/root "../hive-test"}
    lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {io.github.hive-agi/hive-test {:local/root "../hive-test"}
    lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}}}
