{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  org.clojure/core.async {:mvn/version "1.6.681"}

  ;; Result types, rescue/guard, lifecycle protocol
  io.github.hive-agi/hive-dsl
  {:git/tag "v0.3.9" :git/sha "494af2c"}

  ;; Logging
  com.taoensso/timbre {:mvn/version "6.8.0"}}

 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps
   {io.github.hive-agi/hive-dsl {:git/tag "v0.3.9" :git/sha "494af2c"}
    io.github.hive-agi/hive-test {:git/tag "v0.1.6" :git/sha "a53e9f8"}
    lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {io.github.hive-agi/hive-test {:git/tag "v0.1.6" :git/sha "a53e9f8"}
    lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}}}
